@{
    ViewData["Title"] = "Order Completed";
}

<h1>Thank you for your Purchase</h1>

<p>Your payment has been succesfully received. Your order number is @ViewBag.OrderId. We will ship your products to your address.</p>